services:
  db:
    image: mysql:8.0
    platform: linux/amd64
    container_name: laravel_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: password1234
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    restart: unless-stopped
  phpmyadmin:
    image: phpmyadmin
    platform: linux/amd64
    container_name: laravel_phpmyadmin
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
      PMA_USER: laravel_user
      PMA_PASSWORD: password1234
    ports:
      - "8081:80"
    volumes:
      - phpmyadmin_data:/sessions
    restart: unless-stopped
  php:
    build: ./php
    container_name: laravel_php
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:80"
      - "5173:5173"
    volumes:
      - ./src:/var/www/html
      - ./apache/default.conf:/etc/apache2/sites-enabled/000-default.conf
    restart: unless-stopped
volumes:
    db_data:
    phpmyadmin_data: